#cabecalho{
    display: flex;
    background-color: #00b50f;
    width: 1349px;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    margin-top: -22px;
    margin-left: -8px;
}
#cabecalho h1{
    color: white;
    margin-left: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#menu{
    display: block;
    margin-right: 20px;
    width: 800px;
    /* border: 1px solid black; */
}
ul#listmenu{
    display: flex;
    list-style: none;
    justify-content: space-between;
    text-transform: uppercase;
}
ul#listmenu > li {
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    padding: 10px;
    transition: background-color 0.5s;
}
ul#listmenu a{
    /* border: 1px solid black; */
    text-decoration: none;
    padding: 8px 5px 8px 5px;
}
nav#menu li:hover{
	background-color: #00000080;
}

#bemvindo{
    background-color: #777777b6;
    width: 1349px;
    height: 400px;
    margin-left: -8px;
}
#bemvindo div{
    width: 650px;
    height: 290px;
    margin: 0px auto;
    padding-top: 30px;
    word-wrap: break-word;
    text-align: center;
    color: white;
    font: normal 14pt Arial, sans-serif;
}
#bemvindo h1{
    font-size: 48pt;
    font-weight: bold;
}
#bemvindo p{
    text-align: justify;
    font-size: 14pt;
    font-weight: 500;
}

h2.ttlsartigos{
    font-size: 20pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 50px;
    text-shadow: rgba(190, 190, 190, 0.589) 2px 2px 2px;
    text-decoration: underline;
}
.onibus{
    display: flex;
    width: 1200px;
    height: auto;
    margin: 30px auto;
    align-content: center;
    justify-content: space-evenly;
}
table{
    border: 1px solid black;
    text-align: center;
    border-spacing: 0px;
}
table td{
    font-size: 14.15pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid black;
    min-width: 60px;
    padding: 5px;
}
.tabelaonibus{
    width: 1100px;
    height: auto;
}
.titulo{
    font-size: 13.15pt;
    font-weight: bold;
    background-color: #00b50f;
    color: white;
}
.intiner{
    text-align: justify;
    padding: 5px;
}

#historia{
    background-color: #c4c4c4;
    font-family: Arial, Helvetica, sans-serif;
    width: 1349px;
    height: 400px;
    margin-left: -8px;
    text-align: center;
}
#historia div{
    padding-top: 55px;
    max-width: 720px;
    word-wrap: break-word;
    margin: 0px auto;
}

#cidades{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 180px;
}

ul#listcidades{
    display: flex;
    max-width: 800px;
    margin: 0px auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    font-size: 18pt;
}
ul#listcidades > li{
    flex: 1 1 150px;
    margin: 10px;
}

#formcad{
    position: relative;
    background-color: rgba(235, 235, 235, 0.596);
    width: 1349px;
    height: 700px;
    margin-left: -8px;
    padding-top: 1px;
}
#formcad form{
    background-color: white;
    width: 600px;
    height: 580px;
    margin: 0px auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    padding-top: 1px;
    padding-bottom: 10px;
}
fieldset{
    width: 500px;
    margin: 0px auto;
    margin-top: 25px;
}
legend{
    font: normal bold 14pt Arial, sans-serif;
    border-style: none;
}
input{
    font-size: 12.13pt;
    height: 30px;
}
.email{
    width: 273px;
}
.end{
    width: 480px;
    margin: 0px auto;
}
.cargos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#box-button {
    width: 500px;
    margin: 0px auto;
    margin-top: 10px;
    text-align: center;
}
button {
    color: white;
    margin-top: 15px;
    font: normal bold 18pt Arial;
    background: #0dd621;
    width: 200px;
    height: 55px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

footer{
    background-color: #00b50f;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 1349px;
    height: 200px;
    margin-left: -8px;
}
footer h2{
    margin-left: 15px;
    padding-top: 8px;
}
a{
    color: white;
}
#infos{
    display: flex;
    height: 30px;
    font-size: 14.15pt;
    align-items: center;
    justify-content: space-evenly;
}